// Link Styles
// ----------------------------------------

// Links adjustment to correctly display an order of rtl/ltr mixed content
a {
	direction: ltr;
	unicode-bidi: embed;
	text-decoration: none;
}

a:hover	{ text-decoration: underline; }

// Coloured usernames
.username-coloured {
	font-weight: bold;
	display: inline !important;
	padding: 0 !important;
}

// Links on gradient backgrounds
.forumbg .header a, .forabg .header a, th a {
	text-decoration: none;
}

.forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	text-decoration: underline;
}

// Navigation bar links
li.breadcrumbs span:first-child > a {
	display: inline-block;
	padding-left: 17px;
}

// Notification mark read link
.dropdown-extended a.mark_read {
	display: block;
	opacity: .2;
	position: absolute;
	z-index: 2;
	right: 0;
	top: 0;
	bottom: 0;
	width: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: opacity .2s;
}

.dropdown-extended li:hover a.mark_read {
	opacity: .85;
}

.dropdown-extended li a.mark_read:hover {
	opacity: 1;
}

.dropdown-extended a.mark_read:after {
	width: auto;
	left: 4px;
	right: 0;
	font-size: 16px;
}

// Links for forum/topic lists
a.forumtitle {
	display: inline-block;
	font-family: $forum-link-font-family;
	font-size: $forum-link-font-size;
	line-height: $forum-link-line-height;
	//font-weight: 500;
	font-weight: bold;
	padding-bottom: 2px;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

a.topictitle {
	@extend a.forumtitle;
	font-family: $topic-link-font-family;
	font-size: $topic-link-font-size;
}

a.lastsubject {
	font-weight: bold;
	text-decoration: none;
}

a.lastsubject:hover {
	text-decoration: underline;
}

// Profile links
.postprofile a, .postprofile dt.author a {
	font-weight: bold;
	text-decoration: none;
}

.postprofile a:hover, .postprofile dt.author a:hover {
	text-decoration: underline;
}

// Profile searchresults
.search .postprofile a {
	text-decoration: none;
	font-weight: normal;
}

.search .postprofile a:hover {
	text-decoration: underline;
}

// Back to top of page
.back2top {
	clear: both;
	height: 14px;
	text-align: right;
	.post > & {
		position: absolute;
		right: 5px;
		bottom: 5px;
		.rtl & {
			right: auto;
			left: 5px;
		}
	}
}

a.top {
	text-decoration: none;
	width: 14px;
	height: 14px;
	display: block;
	float: right;
	overflow: hidden;
	text-indent: 999px;
}

a.top2 {
	text-decoration: none;
	padding-left: 15px;
	dl.faq & {
		float: right;
		.rtl & {
			float: left;
		}
	}
}

a.top, a.top2 {
	position: relative;
}

$top-link-font-size:		ceil(($font-size + 1px) / 2) * 2 !default;
$top-link-line-height:		$top-link-font-size + 2px !default;

a.top:after, a.top2:after {
	content: '\f139';	// fa- @fa-var-chevron-circle-up
	font-family: FontAwesome;
	position: absolute;
	top: 50%;
	left: 0;
	height: $top-link-line-height;
	width: $top-link-line-height;
	margin-top: (0px - $top-link-line-height / 2);
	text-align: center;
	font-size: $top-link-font-size;
	line-height: $top-link-line-height;
	vertical-align: baseline;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	text-indent: 0;
	pointer-events: none;
}

// Arrow links
%arrow {
	position: relative;
	&:after {
		position: absolute;
		top: 50%;
		margin-top: -5px;
		text-align: center;
		font-family: FontAwesome;
		font-size: 8px;
		line-height: 10px;
		vertical-align: baseline;
		font-weight: normal;
		font-style: normal;
		text-transform: none;
		text-indent: 0;
		pointer-events: none;
	}
}

a.arrow-up {
	@extend %arrow;
	&:after {
		content: '\f077';	// fa-chevron-up
		left: 0;
	}
	.rtl &:after {
		left: auto;
		right: 0;
	}
}
a.arrow-down {
	@extend %arrow;
	&:after {
		content: '\f078';	// fa-chevron-down
		right: 0;
		padding-top: 1px;
	}
	.rtl &:after {
		right: auto;
		left: 0;
	}
}
a.arrow-left, .rtl a.arrow-right {
	@extend %arrow;
	&:after {
		content: '\f053';	// fa-chevron-left
		left: 0;
		right: auto;
		padding-top: 1px;
	}
}
a.arrow-right, .rtl a.arrow-left {
	@extend %arrow;
	&:after {
		content: '\f054';	// fa-chevron-right
		right: 0;
		left: auto;
		padding-top: 1px;
	}
}

a.arrow-up {
	padding-left: 10px;
	text-decoration: none;
	border-bottom-width: 0;
}

a.arrow-down {
	padding-right: 10px;
}

a.arrow-down:hover {
	text-decoration: none;
}

a.arrow-left {
	padding-left: 12px;
}

a.arrow-left:hover {
	text-decoration: none;
}

a.arrow-right {
	padding-right: 12px;
}

a.arrow-right:hover {
	text-decoration: none;
}

// invisible skip link, used for accessibility
.skiplink {
	position: absolute;
	left: -999px;
	width: 990px;
}

// Feed icon in forumlist_body.html
a.feed-icon-forum {
	float: right;
	margin: 3px;
	width: 16px;
	height: 16px;
	position: relative;
}

.topiclist.forums a.feed-icon-forum {
	margin-top: 12px;
}

a.feed-icon-forum:after {
	content: '\f09e';	// fa-rss
	position: absolute;
	left: 0;
	right: 0;
	width: 16px;
	height: 16px;
	font-family: FontAwesome;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	line-height: 16px;
	text-align: center;
}

a.anchor {
	display: block;
}
